## Preprocessing

In [27]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [28]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [29]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [30]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [31]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [33]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_cleaned = classification_types.loc[classification_types > 1]
classifications_cleaned.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [34]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classifications_cleaned[classifications_cleaned < 1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [35]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [36]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [37]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [38]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [40]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_nodes_layer_1 = 10
hidden_nodes_layer_2 = 8
hidden_nodes_layer_3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_1, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_2, activation = "relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_3, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 10)                1010

 dense_14 (Dense)            (None, 8)                 88

 dense_15 (Dense)            (None, 6)                 54

 dense_16 (Dense)            (None, 1)                 7

=================================================================
Total params: 1159 (4.53 KB)
Trainable params: 1159 (4.53 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [41]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 701us/step - loss: 0.5486 - accuracy: 0.7209
Epoch 2/100
804/804 [==============================] - 1s 682us/step - loss: 0.4995 - accuracy: 0.7537
Epoch 3/100
804/804 [==============================] - 1s 679us/step - loss: 0.4923 - accuracy: 0.7579
Epoch 4/100
804/804 [==============================] - 1s 685us/step - loss: 0.4889 - accuracy: 0.7599
Epoch 5/100
804/804 [==============================] - 1s 683us/step - loss: 0.4870 - accuracy: 0.7592
Epoch 6/100
804/804 [==============================] - 1s 684us/step - loss: 0.4856 - accuracy: 0.7624
Epoch 7/100
804/804 [==============================] - 1s 680us/step - loss: 0.4848 - accuracy: 0.7615
Epoch 8/100
804/804 [==============================] - 1s 679us/step - loss: 0.4844 - accuracy: 0.7610
Epoch 9/100
804/804 [==============================] - 1s 679us/step - loss: 0.4840 - accuracy: 0.7621
Epoch 10/100
804/804 [==============================] - 1s 680us/step - loss: 0.4839 - accuracy: 0.7609
Epoch 11/100
804/804 [==============================] - 1s 683us/step - loss: 0.4835 - accuracy: 0.7627
Epoch 12/100
804/804 [==============================] - 1s 685us/step - loss: 0.4828 - accuracy: 0.7641
Epoch 13/100
804/804 [==============================] - 1s 680us/step - loss: 0.4826 - accuracy: 0.7631
Epoch 14/100
804/804 [==============================] - 1s 679us/step - loss: 0.4819 - accuracy: 0.7648
Epoch 15/100
804/804 [==============================] - 1s 682us/step - loss: 0.4821 - accuracy: 0.7647
Epoch 16/100
804/804 [==============================] - 1s 690us/step - loss: 0.4819 - accuracy: 0.7628
Epoch 17/100
804/804 [==============================] - 1s 682us/step - loss: 0.4817 - accuracy: 0.7640
Epoch 18/100
804/804 [==============================] - 1s 674us/step - loss: 0.4814 - accuracy: 0.7640
Epoch 19/100
804/804 [==============================] - 1s 704us/step - loss: 0.4814 - accuracy: 0.7637
Epoch 20/100
804/804 [==============================] - 1s 711us/step - loss: 0.4809 - accuracy: 0.7646
Epoch 21/100
804/804 [==============================] - 1s 697us/step - loss: 0.4808 - accuracy: 0.7647
Epoch 22/100
804/804 [==============================] - 1s 701us/step - loss: 0.4811 - accuracy: 0.7642
Epoch 23/100
804/804 [==============================] - 1s 737us/step - loss: 0.4804 - accuracy: 0.7654
Epoch 24/100
804/804 [==============================] - 1s 696us/step - loss: 0.4809 - accuracy: 0.7644
Epoch 25/100
804/804 [==============================] - 1s 711us/step - loss: 0.4803 - accuracy: 0.7648
Epoch 26/100
804/804 [==============================] - 1s 723us/step - loss: 0.4801 - accuracy: 0.7651
Epoch 27/100
804/804 [==============================] - 1s 684us/step - loss: 0.4801 - accuracy: 0.7650
Epoch 28/100
804/804 [==============================] - 1s 681us/step - loss: 0.4802 - accuracy: 0.7648
Epoch 29/100
804/804 [==============================] - 1s 689us/step - loss: 0.4795 - accuracy: 0.7672
Epoch 30/100
804/804 [==============================] - 1s 680us/step - loss: 0.4800 - accuracy: 0.7667
Epoch 31/100
804/804 [==============================] - 1s 674us/step - loss: 0.4797 - accuracy: 0.7654
Epoch 32/100
804/804 [==============================] - 1s 676us/step - loss: 0.4799 - accuracy: 0.7646
Epoch 33/100
804/804 [==============================] - 1s 678us/step - loss: 0.4796 - accuracy: 0.7647
Epoch 34/100
804/804 [==============================] - 1s 675us/step - loss: 0.4795 - accuracy: 0.7650
Epoch 35/100
804/804 [==============================] - 1s 671us/step - loss: 0.4790 - accuracy: 0.7670
Epoch 36/100
804/804 [==============================] - 1s 678us/step - loss: 0.4792 - accuracy: 0.7651
Epoch 37/100
804/804 [==============================] - 1s 673us/step - loss: 0.4790 - accuracy: 0.7651
Epoch 38/100
804/804 [==============================] - 1s 669us/step - loss: 0.4791 - accuracy: 0.7647
Epoch 39/100
804/804 [==============================] - 1s 678us/step - loss: 0.4791 - accuracy: 0.7654
Epoch 40/100
804/804 [==============================] - 1s 671us/step - loss: 0.4791 - accuracy: 0.7656
Epoch 41/100
804/804 [==============================] - 1s 666us/step - loss: 0.4788 - accuracy: 0.7659
Epoch 42/100
804/804 [==============================] - 1s 680us/step - loss: 0.4789 - accuracy: 0.7650
Epoch 43/100
804/804 [==============================] - 1s 671us/step - loss: 0.4790 - accuracy: 0.7658
Epoch 44/100
804/804 [==============================] - 1s 685us/step - loss: 0.4785 - accuracy: 0.7646
Epoch 45/100
804/804 [==============================] - 1s 678us/step - loss: 0.4783 - accuracy: 0.7647
Epoch 46/100
804/804 [==============================] - 1s 669us/step - loss: 0.4785 - accuracy: 0.7658
Epoch 47/100
804/804 [==============================] - 1s 666us/step - loss: 0.4783 - accuracy: 0.7668
Epoch 48/100
804/804 [==============================] - 1s 670us/step - loss: 0.4784 - accuracy: 0.7652
Epoch 49/100
804/804 [==============================] - 1s 679us/step - loss: 0.4785 - accuracy: 0.7655
Epoch 50/100
804/804 [==============================] - 1s 675us/step - loss: 0.4779 - accuracy: 0.7665
Epoch 51/100
804/804 [==============================] - 1s 674us/step - loss: 0.4782 - accuracy: 0.7647
Epoch 52/100
804/804 [==============================] - 1s 669us/step - loss: 0.4781 - accuracy: 0.7657
Epoch 53/100
804/804 [==============================] - 1s 673us/step - loss: 0.4777 - accuracy: 0.7654
Epoch 54/100
804/804 [==============================] - 1s 678us/step - loss: 0.4779 - accuracy: 0.7663
Epoch 55/100
804/804 [==============================] - 1s 673us/step - loss: 0.4779 - accuracy: 0.7659
Epoch 56/100
804/804 [==============================] - 1s 672us/step - loss: 0.4777 - accuracy: 0.7654
Epoch 57/100
804/804 [==============================] - 1s 667us/step - loss: 0.4778 - accuracy: 0.7652
Epoch 58/100
804/804 [==============================] - 1s 670us/step - loss: 0.4777 - accuracy: 0.7651
Epoch 59/100
804/804 [==============================] - 1s 671us/step - loss: 0.4774 - accuracy: 0.7666
Epoch 60/100
804/804 [==============================] - 1s 672us/step - loss: 0.4776 - accuracy: 0.7660
Epoch 61/100
804/804 [==============================] - 1s 671us/step - loss: 0.4776 - accuracy: 0.7662
Epoch 62/100
804/804 [==============================] - 1s 680us/step - loss: 0.4777 - accuracy: 0.7655
Epoch 63/100
804/804 [==============================] - 1s 667us/step - loss: 0.4774 - accuracy: 0.7667
Epoch 64/100
804/804 [==============================] - 1s 673us/step - loss: 0.4774 - accuracy: 0.7662
Epoch 65/100
804/804 [==============================] - 1s 671us/step - loss: 0.4772 - accuracy: 0.7662
Epoch 66/100
804/804 [==============================] - 1s 671us/step - loss: 0.4773 - accuracy: 0.7665
Epoch 67/100
804/804 [==============================] - 1s 673us/step - loss: 0.4772 - accuracy: 0.7661
Epoch 68/100
804/804 [==============================] - 1s 670us/step - loss: 0.4771 - accuracy: 0.7645
Epoch 69/100
804/804 [==============================] - 1s 667us/step - loss: 0.4769 - accuracy: 0.7668
Epoch 70/100
804/804 [==============================] - 1s 670us/step - loss: 0.4767 - accuracy: 0.7664
Epoch 71/100
804/804 [==============================] - 1s 668us/step - loss: 0.4770 - accuracy: 0.7662
Epoch 72/100
804/804 [==============================] - 1s 679us/step - loss: 0.4768 - accuracy: 0.7648
Epoch 73/100
804/804 [==============================] - 1s 676us/step - loss: 0.4769 - accuracy: 0.7656
Epoch 74/100
804/804 [==============================] - 1s 676us/step - loss: 0.4766 - accuracy: 0.7662
Epoch 75/100
804/804 [==============================] - 1s 676us/step - loss: 0.4767 - accuracy: 0.7666
Epoch 76/100
804/804 [==============================] - 1s 678us/step - loss: 0.4766 - accuracy: 0.7674
Epoch 77/100
804/804 [==============================] - 1s 672us/step - loss: 0.4767 - accuracy: 0.7662
Epoch 78/100
804/804 [==============================] - 1s 673us/step - loss: 0.4767 - accuracy: 0.7657
Epoch 79/100
804/804 [==============================] - 1s 680us/step - loss: 0.4766 - accuracy: 0.7658
Epoch 80/100
804/804 [==============================] - 1s 670us/step - loss: 0.4765 - accuracy: 0.7666
Epoch 81/100
804/804 [==============================] - 1s 674us/step - loss: 0.4764 - accuracy: 0.7680
Epoch 82/100
804/804 [==============================] - 1s 673us/step - loss: 0.4764 - accuracy: 0.7670
Epoch 83/100
804/804 [==============================] - 1s 667us/step - loss: 0.4762 - accuracy: 0.7675
Epoch 84/100
804/804 [==============================] - 1s 669us/step - loss: 0.4762 - accuracy: 0.7657
Epoch 85/100
804/804 [==============================] - 1s 685us/step - loss: 0.4761 - accuracy: 0.7664
Epoch 86/100
804/804 [==============================] - 1s 681us/step - loss: 0.4762 - accuracy: 0.7669
Epoch 87/100
804/804 [==============================] - 1s 678us/step - loss: 0.4763 - accuracy: 0.7669
Epoch 88/100
804/804 [==============================] - 1s 683us/step - loss: 0.4766 - accuracy: 0.7673
Epoch 89/100
804/804 [==============================] - 1s 673us/step - loss: 0.4763 - accuracy: 0.7663
Epoch 90/100
804/804 [==============================] - 1s 673us/step - loss: 0.4760 - accuracy: 0.7672
Epoch 91/100
804/804 [==============================] - 1s 680us/step - loss: 0.4765 - accuracy: 0.7661
Epoch 92/100
804/804 [==============================] - 1s 677us/step - loss: 0.4764 - accuracy: 0.7678
Epoch 93/100
804/804 [==============================] - 1s 677us/step - loss: 0.4759 - accuracy: 0.7668
Epoch 94/100
804/804 [==============================] - 1s 672us/step - loss: 0.4759 - accuracy: 0.7669
Epoch 95/100
804/804 [==============================] - 1s 674us/step - loss: 0.4757 - accuracy: 0.7676
Epoch 96/100
804/804 [==============================] - 1s 673us/step - loss: 0.4758 - accuracy: 0.7676
Epoch 97/100
804/804 [==============================] - 1s 685us/step - loss: 0.4757 - accuracy: 0.7661
Epoch 98/100
804/804 [==============================] - 1s 678us/step - loss: 0.4757 - accuracy: 0.7679
Epoch 99/100
804/804 [==============================] - 1s 676us/step - loss: 0.4757 - accuracy: 0.7685
Epoch 100/100
804/804 [==============================] - 1s 674us/step - loss: 0.4761 - accuracy: 0.7671

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5016 - accuracy: 0.7452 - 218ms/epoch - 815us/step
Loss: 0.5015618205070496, Accuracy: 0.7451894879341125

In [44]:
# Export our model to HDF5 file
filepath = r"C:\Users\Ryan Kracaw\Documents\GitHub\deep-learning-challenge\deep_learning.h5"
nn.save(filepath, save_format='h5')

c:\Users\Ryan Kracaw\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(